.header__fixed {
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  z-index: 1000;
  // background: #021d46;
  .main__header {
    display: flex;
    padding: 0rem 6rem;
    justify-content: space-between;
  }
  .main__header-log {
    img {
      height: 4rem;
      width: 4rem;
      border-radius: 50%;
      margin: 0.4rem 0 0 0;
    }
  }
  .theme__toggle-section {
    -ms-flex-align: center;
    color: #fff;
    font-size: 2rem;
    display: unset;
    font-size: 2rem;
    .theme__toggle-label {
      margin-left: 1rem;
      position: relative;
      display: inline-block;
      height: 1rem;
      width: 3rem;
      background: #898989;
      border-radius: 100px;
      cursor: pointer;
      transition: all 0.3s ease;
      &::after {
        position: absolute;
        top: -0.3rem;
        left: -0.1rem;
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 100px;
        background: white;
        box-shadow: 0px 3px 3px rgba(#000, 0.05);
        content: "";
        transition: all 0.3s ease;
      }
    }
  }
  .hamburger__section {
    label {
      z-index: 2000;
      position: fixed;
      color: #fff;
      // top: 3%;
      font-size: 2rem;
      cursor: pointer;
    }
    .hamburger__lists {
      position: fixed;
      top: 0;
      right: 0;
      transition: all 0.4s;
      opacity: 0;
      z-index: 1500;
      background: #000;
      height: 32rem;
      border-bottom-left-radius: 32rem;
      .hamburger__list {
        display: block;
        width: auto;
        padding: 7rem 8rem 0rem 13rem;
        .hamburger__item {
          margin: 1rem;
          .hamburger__link {
            color: #fff;
            display: block;
            font-size: 1.5rem;
            font-weight: 300;
            background-size: 230%;
            transition: all 0.4s;
            position: relative;
            &:hover,
            &:active {
              color: #fff;
              &::after {
                transform: scaleX(1);
              }
            }
            &::after {
              display: block;
              content: "";
              border-bottom: solid 3px #fff;
              transform: scaleX(0);
              transition: transform 250ms ease-in-out;
            }
            .hamburger__link--icon {
              margin-right: 0.8rem;
            }
          }
        }
      }
    }
  }
}

.hamburger__open:checked ~ .hamburger__lists {
  opacity: 1;
  width: 32rem;
}

.hidden {
  display: none;
}
.theme__toggle-checkbox:checked ~ .theme__toggle-label {
  background: #6fbeb5;
  &::after {
    left: 1.5rem;
    background: greenyellow;
  }
}
