.header__fixed {
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  z-index: 1000;
}

.header__fixed .main__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0rem 6rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__fixed .main__header-log img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  margin: 0.4rem 0 0 0;
}

.header__fixed .theme__toggle-section {
  -ms-flex-align: center;
  color: #fff;
  font-size: 2rem;
  display: unset;
  font-size: 2rem;
}

.header__fixed .theme__toggle-section .theme__toggle-label {
  margin-left: 1rem;
  position: relative;
  display: inline-block;
  height: 1rem;
  width: 3rem;
  background: #898989;
  border-radius: 100px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__fixed .theme__toggle-section .theme__toggle-label::after {
  position: absolute;
  top: -0.3rem;
  left: -0.1rem;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100px;
  background: white;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
  content: "";
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__fixed .hamburger__section label {
  z-index: 2000;
  position: fixed;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}

.header__fixed .hamburger__section .hamburger__lists {
  position: fixed;
  top: 0;
  right: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  z-index: 1500;
  background: #000;
  height: 32rem;
  border-bottom-left-radius: 32rem;
}

.header__fixed .hamburger__section .hamburger__lists .hamburger__list {
  display: block;
  width: auto;
  padding: 7rem 8rem 0rem 13rem;
}

.header__fixed .hamburger__section .hamburger__lists .hamburger__list .hamburger__item {
  margin: 1rem;
}

.header__fixed .hamburger__section .hamburger__lists .hamburger__list .hamburger__item .hamburger__link {
  color: #fff;
  display: block;
  font-size: 1.5rem;
  font-weight: 300;
  background-size: 230%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
}

.header__fixed .hamburger__section .hamburger__lists .hamburger__list .hamburger__item .hamburger__link:hover, .header__fixed .hamburger__section .hamburger__lists .hamburger__list .hamburger__item .hamburger__link:active {
  color: #fff;
}

.header__fixed .hamburger__section .hamburger__lists .hamburger__list .hamburger__item .hamburger__link:hover::after, .header__fixed .hamburger__section .hamburger__lists .hamburger__list .hamburger__item .hamburger__link:active::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.header__fixed .hamburger__section .hamburger__lists .hamburger__list .hamburger__item .hamburger__link::after {
  display: block;
  content: "";
  border-bottom: solid 3px #fff;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.header__fixed .hamburger__section .hamburger__lists .hamburger__list .hamburger__item .hamburger__link .hamburger__link--icon {
  margin-right: 0.8rem;
}

.hamburger__open:checked ~ .hamburger__lists {
  opacity: 1;
  width: 32rem;
}

.hidden {
  display: none;
}

.theme__toggle-checkbox:checked ~ .theme__toggle-label {
  background: #6fbeb5;
}

.theme__toggle-checkbox:checked ~ .theme__toggle-label::after {
  left: 1.5rem;
  background: greenyellow;
}
/*# sourceMappingURL=Navigation.css.map */