body,html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: white;
    /* overflow-x: hidden; */
}
.class
{
    overflow-x: hidden;
}
.bg-img-fixed {
    /* background: url(../assets/5.jpg) no-repeat center center fixed; */
    background:#2a2e31;
    background-size: cover;
  }
.outer{
    height: 100%;
    padding: 0 !important;
    margin: 0;
}
.top{
    height: 100%;
}
.carousel{
    height: 100%;
}
.carousel-inner{
    height: 100%;
}
.carousel-item{
    height: 100%;
}
img{
    height: 100%;
}

.carousel-text{
    position: fixed;
    z-index: 10;
    top:100px;
    opacity: 0.5;
    color: white;
    font-size: 25px !important;
}
.profilephoto{
   padding-top: 25px; 
   padding-bottom: 25px;
}
.photo{
    width: 24%;
    height: 24%;
    border-radius: 50%;
    border: 6px solid #bdc3c7;
    cursor: pointer;
}
.Pname{
    padding-top: 15px;
    /* font-family: Ravie; */
}
@media only screen and (max-width: 576px) {
    .outer{
        height: 50%;
    }
    .photo{
        width:45%;
        height: 45%;
    }   
    .skills>div{
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }
}
.navbarr{    
    /* background: rgb(153, 153, 153); */
    background: #2a2e31;
    display:table;
    width: 100%;
    padding: 5px 0 5px 0;
}
.navbarr>ol{
    list-style: none;
    margin-bottom: 0;
    display: table;
    width: 100%;
    padding: 0 1% 0 1%;
}
.navbarr>ol>li{
    font-family: comic serif;  
    font-weight: 600;
    border-radius:5px;
    color: white;
    display: table-cell;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}
.navbarr>ol>li:hover{
   
    background: #30999e;
    color: #7f8c8d;
    box-shadow: 6px 6px 40px #2d2e2e; 
    color: rgb(32, 32, 32);
}
.fixed-top{
    position: fixed;
    top:0;
}
.profile{
    padding: 50px;
}
.education{
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.name{
    display: flex;
    align-items: center;
    justify-content: center;
}
.education>h2{
    font-size: 5em;
    text-align: center !important;
    color:white;
    font-weight: 300;
    font-family: 'Sacramento', cursive;   
    margin-bottom: 0;   
}
.name>div>p{
    text-align: justify !important;
    /* padding-top:30px; */
    /* padding-bottom: 120px; */
    font-family: 'Arima Madurai', cursive;        
}
.name>div>h3{
    padding-top:30px; 
}
.name{
    margin-bottom: 50px; 
}

.edu-info{
    font-size: 1.3rem;
    padding-top: 30px;
}
.edu-info>.col-sm-4{
    padding-left: 4%;
    font-family: 'Russo One', sans-serif;    
}
.edu-info>.col-sm-8{
    font-family: 'Arima Madurai', cursive;    
}
.data{
   padding: 40px 2% 40px 2%;
}
.i{
    font-size: 4rem;
    color: #2c3e50;
}
.i:hover{
    cursor: pointer;
    color: rgb(41, 189, 235);
}

.skills>div>h4{
    margin-top: 40px;
    text-shadow: 4px 4px 4px grey;      
}
.skills>div{
    cursor: pointer;
    padding-top: 150px;
    padding-bottom: 100px;
}
@keyframes big{
    from{
        padding:0;
    }
    to{

    }
}
.exp>div{
    padding-top: 80px;
    /* padding-bottom: 80px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.exp-data{
    border-radius: 5px;
    padding-top:20px;
    padding-bottom: 20px;
    box-shadow: 1px 1px 20px #bbbaba;    
}
.foot{
    /* background: url(../assets/10.jpg) fixed no-repeat; */
    background: #2a2e31;
    background-size: 100% 100%;
}
.invite{
    background: #f2f2f2;
    color: #34495e;
    padding-top: 30px;
    padding-bottom: 30px;
}
.invite>div>button{
    border: 2px solid rgb(66, 179, 255);
    color: rgb(66, 179, 255);
    background: transparent;
    border-radius: 0 !important;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 900;
}
.invite>div>button:hover{
    background: rgb(66, 179, 255);
    color: white;
}
.foot{
    padding-top: 30px;
    padding-bottom: 40px;    
}
.foot>h2{
    padding-top:15px;
    padding-bottom: 15px;
}
.foot>h2{
    padding-top:15px;
    padding-bottom:15px;
}
.foot>h2{
    color:white;
}
.foot>h4
{
    color:white;
}
.media{
    display: flex;
    justify-content: center;
}
.media>div>i{
    font-size: 3rem;
    padding-left: 1%;
    padding-right: 1%;
    color:white;
}
.back{
    position: fixed;
    top:0;
    left: 0;
    height: 100%;
    width:100%;
    z-index: -10000;
}
.modal{
    padding: 0 !important;
}

.project>div.col-sm-4{
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 1px 1px 3px #bbbaba;  
    font-family: 'Arima Madurai', cursive;        
}
.project>div.col-12{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 4em;
    color: #34495e;
    font-weight: 300;
    font-family: 'Russo One', sans-serif;    
}
.project{
    padding-bottom: 40px;
}
.modal-header .close
{
    outline: none;
}
.color
{
    color:black !important;
}
.secNinjazBackgroundColor
{
    background: mediumorchid;
}